<div class="container">
  <div class="item__image">
    <img src="../assets/images/events/event2-img.jpg" class="event__image"><img>
  </div>
  <div class="item item__event__description">
    <h4 class="event__description__header">Ciechocińska parada</h4>
    <p class="event__description__pointer">Szczegóły <i class="fas fa-angle-down"></i></p>
    <p class="event__description__details">
      Lorem ipsum dolor sit amet, ceonsectetur adipisicing elit. Modi doloremque nemo, quidem
      doloribus molestias nulla qui, accusantium, nam assumenda unde ducimus ad neque voluptatum consectetur quia
      ipsa
      laborum explicabo dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat id
      accusantium molestiae aliquid in aliquam ad, nemo numquam quisquam recusandae quae, odio dolorem, pariatur
      deleniti cumque molestias corrupti? Obcaecati!
      Lorem ipsum dolor sit amet, ceonsectetur adipisicing elit. Modi doloremque nemo, quidem
      doloribus molestias nulla qui, accusantium, nam assumenda unde ducimus ad neque voluptatum consectetur quia
      ipsa
      laborum explicabo dolore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam placeat id
      accusantium molestiae aliquid in aliquam ad, nemo numquam quisquam recusandae quae, odio dolorem, pariatur
      deleniti cumque molestias corrupti? Obcaecati!
    </p>
    <div class="">
      <i class="fas fa-external-link-alt icon__event__description__footer"></i>
      <i class="fab fa-facebook-square icon__event__description__footer"></i>
      <i class="fas fa-map-marker-alt icon__map__marker icon__event__description__footer"></i>
    <p class="event__source">Strona źródłowa: <br> http://www.ciechocinek.pl/index.php?art_id=136&id_news=2729</p>
    </div>
  </div>
  <app-events-list></app-events-list>
</div>
