.footer__menu__items {
  grid-column: 1;
  flex-direction: column;
  padding-top: 25px;
}

.footer__menu__items__element {
  color: whitesmoke;
  font-size: 0.85rem;
  font-weight: 400;
  padding: 10px;
}

.footer__link {
  text-decoration: none;
}
