<div class="container">
  <div class="item item__footer">
    <ul class="">
        <a class routerLink="/events-thumbnails" class="item__menu__link"><li class="footer__menu__items__element">Lista
          wydarzeń</li></a>
          <a class routerLink="" class="item__menu__link"><li class="footer__menu__items__element">Mapa
          wydarzeń</li></a>
          <a class routerLink="" class="item__menu__link"><li class="footer__menu__items__element">Dodaj
          wydarzenie</li></a>
          <a class routerLink="" class="item__menu__link"><li class="footer__menu__items__element">Zarejestruj
          się</li></a>
    </ul>
  </div>
</div>