
<agm-map [latitude]="WarsawLat" [longitude]="WarsawLng" [zoom]="6">
  <div *ngFor="let event of events$ | async">
    <a [routerLink]="['/event-details', event.id]" routerLinkActive="active" [class.selected]="event.id === selectedId">
      <agm-marker latitude={{event.lat}} longitude={{event.lng}}>
        <agm-snazzy-info-window [maxWidth]="150" [closeWhenOthersOpen]="true" [isOpen]="show">
          <ng-template>
            <div class="info-window__city">
              {{event.city}}
            </div>
            <div class="info-window__name">
              {{event.name}}
            </div>
            <div class="info-window__date"><i class="fas fa-calendar-day icon__date"></i>
              {{event.day}}.{{event.month}}.2019
            </div>
            <a class="info-window__link" [routerLink]="['/event-details', event.id]" routerLinkActive="active" [class.selected]="event.id === selectedId"><i class="fas fa-info-circle icon__date"></i>Szczegóły</a>
            </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </a>
  </div>
</agm-map>

<app-events-list></app-events-list>
