<div class="container">
  <div class="item item__events__list">
    <h3 class="event__list__header">Nadchodzące wydarzenia</h3>
    <p class="event__location__county">mazowieckie /</p>
    <p class="events__list__header__date ">maj 2019</p>
    <div class="events__list_details">
        <div class="events__list__date">01</div>
        <div class="events__list__name">Ciechocińska parada majowa<br>
          <div class="events__list__location"><i class="fas fa-map-marker-alt icon__map__marker"></i>Ciechocinek</div>
        </div>
      </div>
    <p class="events__list__header__date ">lipiec 2019</p>
    <div class="events__list_details">
        <div class="events__list__date">06-07</div>
        <div class="events__list__name">Fly Fest<br>
          <div class="events__list__location"><i class="fas fa-map-marker-alt icon__map__marker"></i>Piotrków Trybunalski</div>
        </div>
      </div>

    </div>
</div>
