<div class="container">
  <div>
    <a class routerLink="events-thumbnails" class="menu__links">
      <h3 class="item item__logo">Pol<span class="logo__4">4</span>free</h3>
      <p class="item item__logo--subtitle">Darmowe <br>wydarzenia </p>
      <p class=" item item__logo--subtitle"> w Polsce</p>
    </a>
  </div>
  <div class="item item__menu__items">
    <ul class="menu__items">
      <li class="menu__items__element"><a class routerLink="events-thumbnails" class="menu__links">Lista
          wydarzeń</a></li>
      <li class="menu__items__element"><a class routerLink="events-map" class="menu__links">Mapa
          wydarzeń</a></li>
      <li class="menu__items__element"><a class routerLink="add-event" class="menu__links">Dodaj
          wydarzenie</a></li>
      <li class="menu__items__element"><a class routerLink="user" class="menu__links">Zarejestruj się</a></li>
    </ul>
  </div>
  <div class="item__hamburger">
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div>
        <i class="fas fa-bars icon__hamburger"></i>
      </div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a class routerLink="events-thumbnails" class="sidebarMenuInner__link">Lista wydarzeń</a></li>
        <li><a class routerLink="events-map" class="sidebarMenuInner__link">Mapa wydarzeń</a></li>
        <li><a class routerLink="filters" class="sidebarMenuInner__link">Data i lokalizacja</a></li>
        <li><a class routerLink="user" class="sidebarMenuInner__link">Rejestracja użytkownika</a></li>
        <li><a class routerLink="add-event" class="sidebarMenuInner__link">Dodaj wydarzenie</a></li>
      </ul>
    </div>
  </div>
  <div class="item__location"><a class routerLink="filters" class="menu__links">mazowieckie /</a></div>
  <div class="item__date"><a class routerLink="filters" class="menu__links__data">maj 2019</a></div>
</div>

<!--  oryginał ---------------------

  <div>
    <a class routerLink="events-thumbnails" class="menu__links">
      <h3 class="item item__logo">Pol<span class="logo__4">4</span>free</h3>
      <p class="item item__logo--subtitle">Darmowe <br>wydarzenia </p>
      <p class=" item item__logo--subtitle"> w Polsce</p>
    </a>
  </div>
  <div class="item item__menu__items">
    <ul class="menu__items">
      <li class="menu__items__element"><a class routerLink="events-thumbnails" href="#events-thumbnails" class="menu__links">Lista wydarzeń</a></li>
      <li class="menu__items__element"><a class routerLink="events-map" href="#events-map" class="menu__links">Mapa wydarzeń</a></li>
      <li class="menu__items__element"><a class routerLink="add-event" href="#add-event" class="menu__links">Dodaj wydarzenie</a></li>
      <li class="menu__items__element"><a class routerLink="user" href="#register" class="menu__links">Zarejestruj się</a></li>
    </ul>
  </div>

  
    <div class="item item__hamburger">

      <i class="fas fa-bars icon__hamburger"></i></div>
  <div class="item item__location"><a class routerLink="filters" class="menu__links">zachodniopomorskie /</a></div>
  <div class="item__date"><a class routerLink="filters" class="item item__date menu__links__data">czerwiec 2017</a></div>
</div>
-->


<!--
<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
    <div id="sidebarMenu">
    
      <li><a href="https://vanila.io" target="_blank">Lista wydarzeń</a></li>
      <li><a href="https://instagram.com/plavookac" target="_blank">Mapa wydarzeń</a></li>
      <li><a href="https://twitter.com/plavookac" target="_blank">Data i lokalizacja</a></li>
      <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">Dodaj wydarzenie</a></li>
      <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">Rejestracja</a></li>
    </ul>
  </div>


-->
