<div class="container">
  <div>
    <a class="item__menu__link" (click)="gotoThumbnails()">
      <h3 class="item item__logo">Pol<span class="logo__4">4</span>free</h3>
      <p class="item item__logo--subtitle">Darmowe <br>wydarzenia <br>
        w Polsce</p>
    </a>
  </div>
  <div class="">
    <ul class="item item__menu">
      <li class="item__menu__main"><a class routerLink="events-thumbnails" class="item__menu__link">Lista wydarzeń</a></li>
      <li class="item__menu__main"><a class routerLink="events-map" class="item__menu__link">Mapa wydarzeń</a></li>
      <li class="item__menu__main"><a class routerLink="filters" class="item__menu__link">Lokalizacja i data</a></li>
      <li class="item__menu__main"><a class="item__menu__link">Dodaj wydarzenie</a></li>
      <li class="item__menu__main"><a class="item__menu__link">Zarejestruj się</a></li>
    </ul>
  </div>
   
  <div class="item__hamburger">
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div>
        <i class="fas fa-bars icon__hamburger"></i>
      </div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li><a class routerLink="events-thumbnails" class="sidebarMenuInner__link">Lista wydarzeń</a></li>
        <li><a class routerLink="events-map" class="sidebarMenuInner__link">Mapa wydarzeń</a></li>
        <li><a class routerLink="filters" class="sidebarMenuInner__link">Data i lokalizacja</a></li>
        <li><a class routerLink="" class="sidebarMenuInner__link">Rejestracja użytkownika</a></li>
        <li><a class routerLink="" class="sidebarMenuInner__link">Dodaj wydarzenie</a></li>
      </ul>
    </div>
  </div>
  <div class="item__location"><a class routerLink="filters" class="location item__menu__link">{{county}} ></a></div>
 <!-- <div class="item__date"><a class routerLink="filters" class="item__menu__date">{{month}} 2019</a></div>-->
</div>
