<div class="container">
  <div class="item item__thumbnails__list">
    <div class="item">
      <a class routerLink="/event-details"><img src="../assets/images/events/event1-img.png" class="item__thumbnail"><img></a>
      <div class="item__thumbnail__label">
        <ul>
          <li class="thumbnail_label__title"> <a class="menu__links" routerLink="/event-details">Fly Fest</a></li>
          <li class="thumbnail_label__location"><i class="fas fa-map-marker-alt icon__map__marker"></i>Piotrków
            Trybunalski</li>
          <li class="thumbnail_label__date"><i class="fas fa-calendar-day icon__date"></i>6-7.07.2019</li>
        </ul>
      </div>
    </div>
    <div class="item">
      <a class routerLink="/event-details"><img src="../assets/images/events/event2-img.jpg" class="item__thumbnail"><img></a>
      <div class="item__thumbnail__label">
        <ul>
          <li class="thumbnail_label__title">Ciechocińska parada majowa</li>
          <li class="thumbnail_label__location"><i class="fas fa-map-marker-alt icon__map__marker"></i>Ciechocinek</li>
          <li class="thumbnail_label__date"><i class="fas fa-calendar-day icon__date"></i>01.05.2019</li>
        </ul>
      </div>
    </div>
    <div class="item">
      <a class routerLink="/event-details"><img src="../assets/images/events/event-mock-img.jpg" class="item__thumbnail"><img></a>
      <div class="item__thumbnail__label">
        <ul>
          <li class="thumbnail_label__title">Nazwa wydarzenia</li>
          <li class="thumbnail_label__location"><i class="fas fa-map-marker-alt icon__map__marker"></i>Miejsce</li>
          <li class="thumbnail_label__date"><i class="fas fa-calendar-day icon__date"></i>Data</li>
        </ul>
      </div>
    </div>
  </div>
</div>
