<div class="item__thumbnails__list">
  <div *ngFor="let event of events$ | async" class="">
    <a *ngIf = "event.county == messageCounty && event.monthName == messageMonth" [routerLink]="['/event-details', event.id]" routerLinkActive="active" [class.selected]="event.id === selectedId"
      class="item  item__menu__link ">
      <img src="https://tomaszsloniowski.github.io/Pol4free/assets/images/events/event{{event.id}}-img.jpg" class="item__thumbnail"><img>
    <div class="item__thumbnail__label ">
      <ul>
        <li class="thumbnail_label__title">{{event.name}}</li>
        <li class="thumbnail_label__location item__menu__link"><i class="fas fa-map-marker-alt icon__map__marker"></i>{{event.city}}</li>
        <li class="thumbnail_label__date"><i class="fas fa-calendar-day icon__date"></i>{{event.day}}.{{event.month}} 2019</li>
      </ul>
    </div>
    </a>
  </div>
</div>






