/*---------- thumbnail list ------------*/

.item__thumbnails__list {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    background-color: whitesmoke;
    padding: 20px;
    min-height: 50vh;
  }
  
  .item__thumbnail {
    grid-column: 1;
    grid-row: auto;
    background-color: whitesmoke;
    justify-items: center;
    max-height: 120px;
    max-width: 120px;
    padding: 30px;
  }
  
  .item__thumbnail__label {
    grid-column: 2;
    grid-row: auto;
    background-color: whitesmoke;
    font-size: 0.8rem;
    font-weight: 500px;
  }
  
  .item__thumbnail__label__list {
    padding: 30px 30px 15px 0px;
  }

  .item__menu__link {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
  }
  
/*---------- thumbnail label ------------*/

ul {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 0px;
  }
  
  .thumbnail_label__title {
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 10px;
    letter-spacing: 0.03em
  }
  
  .thumbnail_label__location {
    font-size: 1.1em;
    font-weight: 400;
    padding-bottom: 10px
  }
  
  .thumbnail_label__date {
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(122, 201, 228);
  }