<div class="container">
  <div class="item item__filters">
    
      <h3 class="select__county__header">Wybierz województwo</h3>
      <select [(ngModel)]="selectedCounty"(ngModelChange)="getCounty()" class="select__county">
      <option *ngFor="let county of counties" [ngValue]="county">{{county}}</option>
      </select>
  <!--
    <h3 class="select__month__header">Wybierz miesiąc</h3>
    <select [(ngModel)]="selectedMonth"(ngModelChange)="getMonth()" class="select__county">
      <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
    </select>
-->
  </div>
</div>